*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.digit{
    margin-top: 20px;
}
table{
    margin: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
td{
    border: 1px solid rgb(190, 190, 190);
    padding: 20px;
    text-align: center;
   
}
